name: Run-Test

on: 
  pull_request:
    branches: 
      - dev
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create MySQL Database
        run: |
          docker run --name mysql -p 3306:3306 \
          -e MYSQL_ROOT_PASSWORD=password \
          -e MYSQL_USER=user \
          -e MYSQL_PASSWORD=password \
          -e MYSQL_DATABASE=test \
          --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3 \
          -d mysql:5.7 \
          --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
      - name: Verify MySQL connection
        run: |
          while ! mysqladmin ping --host 127.0.0.1 --port 3306 --silent; do
              sleep 1
          done
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install packages
        run: yarn install
      - name: Run linters
        run: |
          yarn lint
          git add .
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git diff --staged --quiet || git commit -m "fix: Code style with GitHub Action"
      - name: Run tests
        env:
          TYPEORM_CONNECTION: mysql
          TYPEORM_HOST: 127.0.0.1
          TYPEORM_PORT: 3306
          TYPEORM_USERNAME: user
          TYPEORM_PASSWORD: password
          TYPEORM_DATABASE: test
          TYPEORM_SYNCHRONIZE: true
          TYPEORM_LOGGING: false
        run: yarn test
